%define add_configure_flags \
function configure_flags_func() \
{ \
for line in $build_configure_flags ; do \
  if [[ "$line" =~ "=" ]];then \
    cmd_key="${line%%=*}"\
    cmd_value="${line#*=}"\
    if [[ "$line" =~ ^"(" ]] && [[ "$line" =~ ")"* ]];then \
      # (PACKAGE|FEATURE|capabilities|linux-caps|libcap|libcap-ng)=yes类型，则去掉()后，以|分割存入 \
      cmd_key="${cmd_key:1:-1}" \
      key_split="${cmd_key//|/ }" \
      for var in ${key_split[*]} \
      do \
        key[${#key[*]}]="$var" \
        value[${#value[*]}]="$cmd_value" \
      done \
    else \
      # --enable-shared=true类型 \
      key[${#key[*]}]="$cmd_key" \
      value[${#value[*]}]="$cmd_value" \
    fi \
  else \
    # --disable-static类型 \
    key[${#key[*]}]="$line" \
    value[${#value[*]}]="" \
  fi \
done \
configure_help=$($1 --help) \
configure_options='' \
for(( i=0;i<${#key[*]};i++)) ; do \
  if [[ "$configure_help" =~ ${key[i]} ]]; then \
    if [[ "${value[i]}" != "" ]]; then \
      configure_options="$configure_options${key[i]}=${value[i]} " \
    else \
      configure_options="$configure_options${key[i]} " \
    fi \
  else \
    declare -A replacement_map \
    replacement_map=( ["--enable-"]="--disable-" ["--disable-"]="--enable-" ["--with-"]="--without-" ["--without-"]="--with-" ) \
    for item in "${replacement_map[@]}"; do \
      if [[ "${key[i]}" == *$item* ]]; then \
        tmp="${key[i]//$item/${replacement_map[$item]}}" \
        break \
      fi \
    done \
    if [[ "$configure_help" =~ $tmp ]]; then \
      if [[ "${value[i]}" != "" ]]; then \
        configure_options="$configure_options${key[i]}=${value[i]} " \
      else \
        configure_options="$configure_options${key[i]} " \
      fi \
    fi \
  fi \
done \
%{nil} \
} \
configure_flags_func $1
