##
Summary:    ${metadata.summary}
#if 'group' in $metadata
Group:      ${metadata.group}
#end if
License:    ${metadata.license}
URL:        ${metadata.homepage}
%description
${metadata.description}
