#def when_str_keys($speckey, $yamlkey)
#for $condition, $values in $metadata[$yamlkey].items()
#if $condition == ''
$speckey: $values
#else
$parse_when($condition)
$speckey: $values
$print_endif($condition)
#end if
#end for
#end def
####################
#def when_list_keys($speckey, $yamlkey)
#for $condition, $values in $metadata[$yamlkey].items()
#if $condition == ''
#for $value in $values
$speckey: $value
#end for
#else
$parse_when($condition)
#for $value in $values
$speckey: $value
#end for
$print_endif($condition)
#end if
#end for
#end def
########
########
## defineFlags
#if 'defineFlags' in $metadata
#for $condition, $values in $metadata['defineFlags'].items()
#if $condition == ''
#for $key in $values.keys()
$key
#end for
#else
$parse_when($condition)
#for $key in $values.keys()
$key
#end for
$print_endif($condition)
#end if
#end for
#end if

## rpmGlobal
#if 'rpmGlobal' in $metadata
#for $name, $body in $metadata['rpmGlobal'].items()
%global $name $body
#end for
#end if

##rpmMacros
#if 'rpmMacros' in $metadata
$metadata['rpmMacros']
#end if

#if 'name' in $metadata
$when_str_keys('Name', 'name')
#end if
#if 'version' in $metadata
$when_str_keys('Version', 'version')
#end if
#if "release" in $metadata
$when_str_keys('Release', 'release')
#end if
#if 'summary' in $metadata
$when_str_keys('Summary', 'summary')
#end if
#if "epoch" in $metadata
$when_str_keys('Epoch', 'epoch')
#end if
#if "group" in $metadata
$when_str_keys('Group', 'group')
#end if
#if 'license' in $metadata
$when_str_keys('License', 'license')
#end if
#if "exclusiveArch" in $metadata
$when_list_keys('ExclusiveArch', 'exclusiveArch')
#end if
#if "buildArch" in $metadata
$when_str_keys('BuildArch', 'buildArch')
#end if
#if "prefix" in $metadata
$when_str_keys('Prefix', 'prefix')
#end if
#if "homepage" in $metadata
$when_str_keys('URL', 'homepage')
#end if
##source
#if 'source' in $metadata
#for $condition, $values in $metadata['source'].items()
#if $condition == ''
#for $num in $values
Source$num: $values[$num]
#end for
#else
$parse_when($condition)
#for $num in $values
Source$num: $values[$num]
#end for
$print_endif($condition)
#end if
#end for
#end if

#if "includeSource" in $metadata
#for $isc in $metadata['includeSource']
%include    $isc
#end for
#end if

#if "buildRoot" in $metadata
$when_list_keys('BuildRoot','buildRoot')
#end if

#if "recommends" in $metadata
$when_list_keys('Recommends', 'recommends')
#end if

#if "excludeArch" in $metadata
$when_list_keys('ExcludeArch', 'excludeArch')
#end if

#if "buildRequires" in $metadata
$when_list_keys('BuildRequires', 'buildRequires')
#end if

#if "suggests" in $metadata
$when_list_keys('Suggests', 'suggests')
#end if

#if "patchset" in $metadata
#for $condition, $values in $metadata['patchset'].items()
#if $condition == ''
#for $num in $values
Patch$num: $values[$num]
#end for
#else
$parse_when($condition)
#for $num in $values
Patch$num: $values[$num]
#end for
$print_endif($condition)
#end if
#end for
#end if

#if 'autoReq' in $metadata
$when_str_keys("AutoReq", 'autoReq')
#end if
#if 'autoProv' in $metadata
$when_str_keys("AutoProv", 'autoProv')
#end if
#if 'autoReqProv' in $metadata
$when_str_keys("AutoReqProv", 'autoReqProv')
#end if

## requires
#if "requires" in $metadata
$when_list_keys('Requires', 'requires')
#end if
#if "requiresPre" in $metadata
$when_list_keys('requires(pre)', 'requiresPre')
#end if
#if "requiresPost" in $metadata
$when_list_keys('requires(post)', 'requiresPost')
#end if
#if "requiresPreun" in $metadata
$when_list_keys('requires(preun)', 'requiresPreun')
#end if
#if "requiresPostun" in $metadata
$when_list_keys('requires(Postun)', 'requiresPostun')
#end if
#if "requiresPretrans" in $metadata
$when_list_keys('requires(pretrans)', 'requiresPretrans')
#end if
#if "requiresPosttrans" in $metadata
$when_list_keys('requires(posttrans)', 'requiresPosttrans')
#end if

## buildConflicts
#if "buildConflicts" in $metadata
$when_list_keys('BuildConflicts', 'buildConflicts')
#end if

## Provides
#if "provides" in $metadata
$when_list_keys('Provides', 'provides')
#end if

## Conflicts
#if "conflicts" in $metadata
$when_list_keys('Conflicts', 'conflicts')
#end if

## Obsoletes
#if "obsoletes" in $metadata
$when_list_keys('Obsoletes', 'obsoletes')
#end if

## description
#if 'description' in $metadata
%description
$metadata['description']['']
#end if

####
#def data_when_str_keys($speckey, $yamlkey, $data)
#for $condition, $values in $data[$yamlkey].items()
#if $condition == ''
$speckey:    $values
#else
$parse_when($condition)
$speckey:    $values
$print_endif($condition)
#end if
#end for
#end def
####
#def data_when_list_keys($speckey, $yamlkey, $data)
#for $condition, $values in $data[$yamlkey].items()
#if $condition == ''
#for $value in $values
$speckey: $value
#end for
#else
$parse_when($condition)
#for $value in $values
$speckey: $value
#end for
$print_endif($condition)
#end if
#end for
#end def
#######################
#def parse_subpackage($packagename, $values)
%package -n $packagename
#if 'summary' in $values
$data_when_str_keys('Summary', 'summary', $values)
#end if
#if "buildArch" in $values
$data_when_str_keys('BuildArch', 'buildArch', $values)
#end if
## rpmMacros
#if "rpmMacros" in $values
$values['rpmMacros']['']
#end if
#if "license" in $values
$data_when_str_keys('License', 'license', $values)
#end if
#if 'group' in $values
$data_when_str_keys('Group', 'group', $values)
#end if
#if "version" in $values
$data_when_str_keys('Version', 'version', $values)
#end if
#if "release" in $values
$data_when_str_keys('Release', 'release', $values)
#end if
#if "epoch" in $values
$data_when_str_keys('Epoch', 'epoch', $values)
#end if
#if "homepage" in $values
$data_when_str_keys('URL', 'url', $values)
#end if
## patchset
#if "patchset" in $values
#for $condition, $value in $values['patchset'].items()
#if $condition == ''
#for $num in $value
Patch$num: $value[$num]
#end for
#else
$parse_when($condition)
#for $num in $values
Patch$num: $values[$num]
#end for
$print_endif($condition)
#end if
#end for
#end if
#if "prefix" in $values
$data_when_str_keys('Prefix', 'prefix', $values)
#end if
#if 'NoAutoReq' in $values
AutoReq:    0
#end if
#if 'NoAutoProv' in $values
AutoProv:   0
#end if
#if 'NoAutoReqProv' in $values
AutoReqProv:    0
#end if
#if "orderWithRequires" in $values
$data_when_list_keys("OrderWithRequires", 'orderWithRequires', $values)
#end if
#if "requires" in $values
$data_when_list_keys('Requires', 'requires', $values)
#end if
#if "recommends" in $values
$data_when_list_keys('Recommends', 'recommends', $values)
#end if
#######################
#if "suggests" in $values
$data_when_list_keys('Suggests', 'suggests', $values)
#end if
#######################
#if "requiresPre" in $values
$data_when_list_keys('Requires(pre)', 'requiresPre', $values)
#end if
#if "requiresPost" in $values
$data_when_list_keys('Requires(post)', 'requiresPost', $values))
#end if
#if "requiresPreun" in $values
$data_when_list_keys('Requires(preun)', 'requiresPreun', $values))
#end if
#if "requiresPostun" in $values
$data_when_list_keys('Requires(Postun)', 'requiresPostun', $values))
#end if
#if "requiresPretrans" in $values
$data_when_list_keys('Requires(pretrans)', 'requiresPretrans', $values))
#end if
#if "requiresPosttrans" in $values
$data_when_list_keys('Requires(posttrans)', 'requiresPosttrans', $values))
#end if
#######################
## Provides
#if "provides" in $values
$data_when_list_keys('Provides', 'provides', $values)
#end if
## Conflicts
#if "conflicts" in $values
$data_when_list_keys('Conflicts', 'conflicts', $values)
#end if
## Obsoletes
#if "obsoletes" in $values
$data_when_list_keys('Obsoletes', 'obsoletes', $values)
#end if
## buildRequires
#if "buildRequires" in $values
$data_when_list_keys('BuildRequires', 'buildRequires', $values)
#end if
## BuildConflicts
#if "buildConflicts" in $values
$data_when_list_keys('BuildConflicts', 'buildConflicts', $values)
#end if
## description
#if "description" in $values
%description -n $packagename
$values['description']['']
#end if
#end def

############################ subpackage
#if 'subpackage' in $metadata
#for $packagename in $metadata['subpackage']
#set $sub_values = $metadata['subpackage'][$packagename]
#for $condition, $values in $sub_values.items()
#if $condition == ''
$parse_subpackage($packagename, $values)
#else
$parse_when($condition)
$parse_subpackage($packagename, $values)
$print_endif($condition)
#end if
#end for
#end for
#end if

###################
############################  def print_script
#def print_script($script_name)
#if $script_name in $metadata
#for $item in $metadata[$script_name]
#if $item['condition'] == ''
%$script_name $item['param']
$item['value']
#else
$parse_when($item['condition'])
%$script_name $item['param']
$item['value']#slurp
$print_endif($condition)
#end if
#end for
#end if
#end def
############################ Build scriptlets
#set $build_scripts = ('prep','build','install','check','clean')
#for $script in $build_scripts
#if $script in $metadata
$print_script($script)

#end if
#end for
############################ Runtime scriptlets
#def print_trigger($trigger_name)
#if $trigger_name in $metadata
#for $item in $metadata[$trigger_name]
#if $item['condition'] == ''
%$trigger_name $item['param']
$item['value']
%end
#else
$parse_when($item['condition'])
%$trigger_name $item['param']
$item['value']
%end
$print_endif($condition)
#end if
#end for
#end if
#end def
############################ scripts
#set $runtime_scripts = ('pre','preun','pretrans','preuntrans','post','postun','posttrans','postuntrans','verify')
#for $script in $runtime_scripts
#if $script in $metadata
$print_script($script)

#end if
#end for
############################ triggers
#set $runtime_triggers = ('triggerprein','triggerin','triggerun','triggerpostun','filetriggerin','filetriggerun','filetriggerpostun','transfiletriggerin','transfiletriggerun','transfiletriggerpostun')
#for $trigger in $runtime_triggers
#if $trigger in $metadata
$print_trigger($trigger)

#end if
#end for

############################ files
#if 'files' in $metadata
$print_script('files')
#end if

############################ changelog
#if $changelog != ""
%changelog
$changelog
#end if